# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------



*~
*.autosave
*.a
*.log
*.core
*.moc
*.o
*.key
*.obj
*.cx
*.cxl
*.bl
*.bm
working\location.json
location.json
*.derp
*.orig
*.rej
vars/*
working/*.pyl
api/__pycache__/client_handler.py
copysounds.py
excludeHosts.json
working/apiNew/
working/cond.cmd
working/daytimes.cmd
working/sound/assets/assets.zip
working/sound/fire/fire.zip
working/hosts.json
working/hostData.json
working/mics.json
working/soundEvents.json
working/speakers.json
working/speakerSets.json
working/fireplace.json
working/systemLoop.json
working/lightningData.json
working/dataList.pyl
working/dayTimes.pyl
working/daytimes.cmd
working/location.json
working/lake_ice.json
working/webSocketTimeDelay.json
working/windChime.json
working/windowState.json
working/ghosts.json
disableanti.bat
null
requirements.txt
server.json

working/cond.cmd
working/fire_times.cxl
noUpdate.json
gil.json

hosts.json
outsideProperties.json
serverSettings.json
streamThreads.json
streams
working/.audiocache
working/speakerSets.json
serverCommands.json
systemLoop.json
vars/sounds/window.cxl
vars/sounds/outside.cxl
vars/sounds/clock.cxl
vars/pluginsList.pyn
vars/dispstring.cx
vars/data.json
vars

*.old
*.so
*.mp3
*.wav
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash

.\working\location.json

# qtcreator generated files
*.pro.user*

# xemacs temporary files
*.flc

# Vim temporary files
.*.swp

# Visual Studio generated files
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# MinGW generated files
*.Debug
*.Release

# Python byte code
*.pyc

# Binaries
# --------

